.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.side-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: #45a29e;
    min-height: 12rem;
}

.content {
    background-color: #45a29e;
}

.mgl-timeline-line {
    background-color: red !important;
}

.desktop-content {
    width: 75%;
    margin: auto;
}

.link-list {
    margin: 0.5rem;
}

.link {
    font-size: 0.8rem;
}
