<mgl-timeline [toggle]="false">
    <mgl-timeline-entry *ngFor="let event of timelineEvents">
        <mgl-timeline-entry-header class="header">
            <div>
                <img  class="side-image" [src]="assestsLocation + event.SideImage">
                <h3 style="margin-bottom: 0px;">{{ event.Header }}</h3>
                <h5 style="margin-top: 0px;">{{ event.Date | date }}</h5>
                <p [class]="isMobile ? '': 'desktop-content'">{{ event.HeaderContent }}</p>
            </div>
        </mgl-timeline-entry-header>
        <mgl-timeline-entry-content class="content">
            <div *ngIf="event.Videos.length">
                <b>Videos:</b>
                <div *ngFor="let video of event.Videos">
                    <h5 style="margin-bottom: .5rem;">{{ video.LinkText }}</h5>
                    <iframe  [src]="sanitizer.bypassSecurityTrustResourceUrl(video.LinkUrl)" width="100%" [height]="isMobile ? '250px' : '300px'" frameborder="0" webkitallowfullscreen mozallowfullscreen
                    allowfullscreen></iframe>                
                </div>
            </div>
            <div *ngIf="event.Links.length">
                <b>Reference Links:</b>
                <ul class="link-list">
                    <li *ngFor="let reference of event.Links" class="link">
                        <a [href]="reference.LinkUrl" target="_blank">{{ reference.LinkText }}</a>
                    </li>
                </ul>
            </div>
        </mgl-timeline-entry-content>
    </mgl-timeline-entry>

</mgl-timeline>